body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  font-size: x-small;
}

input, button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background-color: white;
  color: black;

  border: 1px solid black;
  border-radius: 2px;
}

input:focus {
  outline: none;
}

button {
  padding: 3px;
}

button:hover {
  background-color: black;
  color: white;
}
