body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer,
.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}

a {
  color: black;
}

form {
  display: inline;
}

input,
button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;

  background-color: white;
  color: black;

  border: 1px solid black;
  border-radius: 2px;

  padding: 3px;
}

input:focus {
  outline: none;
}

button:hover {
  background-color: black;
  color: white;
}
