body {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  font-size: x-small;
}

button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

button:hover {
  background-color: black;
  color: white;
}